.div1{
    background-color: orange;
}
.div2{
    background-color: orchid;
}
.div3{
    background-color: royalblue;
}
.div4{
    background-color: springgreen;
}
.div5{
    background-color: crimson;
}
.div6{
    background-color: darkcyan;
}